<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <h2><%= title.length %></h2> -->
    <p>Welcome to <%= title %></p>
    <a href="/newAdd" class="btn btn-primary" role="button">新建</a>

  </body>
</html>
